<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Psize">
	<!-- filename은 insert가 되고 난 뒤에 설정해주어야 한다.
		입력 후, 곧바로 pk를 추출하고자 할 때는 selectKey를 이용할 수 있다. -->
	<insert id="insert" parameterType="Psize">
		insert into psize(psize_id, product_id, fit) values(seq_psize.nextval, #{product_id}, #{fit})
	</insert>
</mapper>